In [36]:
import pandas as pd

In [37]:
listing_titles = pd.read_csv('eBay_ML_Challenge_Dataset_2022/Listing_Titles.tsv', sep = '\t').dropna()
listing_titles_new = listing_titles.iloc[-9985:,:]
listing_titles_new.to_csv('eBay_ML_Challenge_Dataset_2022/Listing_Titles_SM.tsv')

In [40]:
lt= pd.read_csv('eBay_ML_Challenge_Dataset_2022/Listing_Titles_SM.tsv')
lt.tail()

,Unnamed: 0,Record Number,Title
9980,19971953,19999917,' Wire Frame Octopus ' Tote Shopping Bag For L...
9981,19971954,19999918,Vintage Etienne Aigner Medium Oxblood Red Leat...
9982,19971955,19999919,Nine West Purse Shoulder Bag Handbag Camel Bro...
9983,19971956,19999920,New 2021 Ladies Tote Bag Women Crossbody Shoul...
9984,19971957,19999921,Gucci Bamboo Handbag Leather Black 2WAY 000 20...

In [7]:
listing_titles.shape

(19971958, 2)

In [31]:
19971958/2000

9985.979

In [24]:
train_tagged_titles = pd.read_csv('eBay_ML_Challenge_Dataset_2022/Train_Tagged_Titles.tsv', on_bad_lines = 'skip',sep = '\t').dropna()
train_tagged_titles_new = train_tagged_titles.iloc[:19098,:]
train_tagged_titles_new.to_csv('eBay_ML_Challenge_Dataset_2022/Train_Tagged_Titles_new.tsv')

In [26]:
train_tagged_titles_new.tail()

,Record Number,Title,Token,Tag
21888,2763,Fendi Brown / Black / Red Fur / Leather Baguet...,Bag,Type
21889,2763,Fendi Brown / Black / Red Fur / Leather Baguet...,/,No Tag
21890,2763,Fendi Brown / Black / Red Fur / Leather Baguet...,Handbag,Type
21891,2763,Fendi Brown / Black / Red Fur / Leather Baguet...,/,No Tag
21892,2763,Fendi Brown / Black / Red Fur / Leather Baguet...,Purse,Type

In [5]:
train_tagged_titles.shape

(38209, 4)

In [22]:
(38208/2)-6

19098.0